@model IEnumerable<PatrykRuczkinLab5PracDom.Models.AuthorViewModel>


@foreach (var item in Model)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @item.FullName
            </th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                @foreach (var book in item.Books)
                {
                    <tr>
                        <td>
                            @book.Title
                        </td>
                        <td>
                            @book.CategoryName
                        </td>
                    </tr>
                }
            </td>
        </tr>
        </tbody>
    </table>
}

<div>
     @Html.ActionLink("Powrót", "Index","Books")
</div>
